
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.item{
    padding: 20px;
}
.item:nth-child(even){
    background: rgb(100,200,230);
}


.item:nth-child(odd){
    background: rgb(200,200,230);
}